.footer{
    background-color: #09B2B0;
    height: 40px;
    color:white;

    .footer-dots{
        height: 25px;
        margin-left: 35px;
    }

    img{
        display: inline-block;
        vertical-align: middle;
    }

    p{
        display: inline-block;
    }

    .footer-copyright{
        margin-left: 20px;
        font-size: .75em;
    }

    .footer-phone{
        font-size: .75em;
        margin-right: 50px;
    }

}